<div class="info-card-wrapper">
    <div style="display: flex; font-size: 16px; width: 80%; justify-content: space-around;">
        <div *ngIf="previousId > 0" class="prev"><a  href="/single-pokemon/{{this.previousId}}">Previous in Pokédex</a></div>
        <div *ngIf="previousId <= 0" style="width: 16vw;"></div>
        <div *ngIf="nextId" class="next"><a  href="/single-pokemon/{{this.nextId}}">Next in Pokédex</a></div>
        <div *ngIf="!nextId" style="width: 16vw;"></div>
    </div>
    <div class="info-card">
        <img [src]="pokemon.sprites.other['official-artwork'].front_default" alt="pokemon image" class="sprite" >
        <span class="pokemon-name">{{pokemon.species.name | pokemonName}}</span>
        <span class="info-line grass">Pokédex ID: {{pokemon.id}}</span>
        <span class="info-line grass">Avg. Height: {{pokemon.height/10}} meters</span>
        <span class="info-line grass">Avg. Weight: {{pokemon.weight/100}} kg</span>


        <span class="evo-line" (click)="goToEvolution()" *ngIf="this.evolutionInfo != null; else noEvo"> 
            <img src="/assets/evo-icon.webp" style="width: 60px;">
            <span class="poke-evolution">Evo: {{this.evolutionInfo | titlecase}}</span>
        </span>

        <ng-template #noEvo>
            <span class="evo-line">
                <img src="/assets/evo-icon.webp" style="width: 60px;">No Evolution
            </span>
        </ng-template>

        
    </div>
</div>