a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.poke-evolution {
    font-family: 'Titillium Web', sans-serif;
}

.prev, .next {
    width: 16vw;
    background: rgb(252, 21, 21);
    display: flex;
    line-height: 3;
    justify-content: center;
    border: black solid 2px;
}


.info-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-card {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    margin: 1vw;
    padding: 2vw;
    background-color: #a8dab5;
    box-shadow: black 13px 13px 0px 1px;
    cursor: pointer;
    border: black solid 2px;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.info-line {
    margin: 5px 0;
    padding: 4px;
    width: 100%;
}

.evo-line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sprite {
    width: 16vw;
    height: 16vw;
}

.grass {
    background-color: #2aa92f;
    box-shadow: #066106 3px 3px;
    color: white;
}