/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.pokemon-name {
    font-family: 'Gobold High', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6rem;
}